@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Vina+Sans&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: calc(calc(10/16*100) * 1%); }
  @media (max-width: calc(calc(600/16) * 1em)) {
    html {
      font-size: 50%; } }
  @media (max-width: 32.5em) {
    html {
      font-size: 50%; } }

a:link,
a:visited,
a:hover,
a:active {
  font-family: "Vina Sans", cursive;
  text-decoration: none;
  font-size: 2.4rem;
  background: linear-gradient(#FF522C, #FF7E61);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  letter-spacing: .4px; }
  a:link.link--light,
  a:visited.link--light,
  a:hover.link--light,
  a:active.link--light {
    -webkit-text-fill-color: #fff; }

p {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(#FF522C, #FF7E61);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

.nav-link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: .8rem 0; }

.nav--light {
  background-color: #EFEFEF; }

.nav--coloured {
  background-color: #FF522C; }

body {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; }
