@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Vina+Sans&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: calc(calc(10/16*100) * 1%); }

a:link,
a:visited,
a:hover,
a:active {
  font-family: "Vina Sans", cursive;
  text-decoration: none;
  font-size: 24px;
  background: linear-gradient(#FF522C, #FF7E61);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

p {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 16px;
  background: linear-gradient(#FF522C, #FF7E61);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

body {
  background-color: #EFEFEF; }
