@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Vina+Sans&display=swap");
.u-bg-light {
  background-color: #EFEFEF; }

.u-bg-coloured {
  background-color: #FF522C; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: calc(calc(10/16*100) * 1%); }
  @media (max-width: calc(calc(600/16) * 1em)) {
    html {
      font-size: calc(calc(8/16*100) * 1%); } }

body {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  height: 100vh; }

a:link,
a:visited,
a:hover,
a:active {
  font-family: "Vina Sans", cursive;
  text-decoration: none;
  font-size: 2.4rem;
  background: linear-gradient(#FF522C, #FF7E61);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  letter-spacing: .4px;
  display: block;
  padding: .8rem 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center; }
  a:link.link--light,
  a:visited.link--light,
  a:hover.link--light,
  a:active.link--light {
    -webkit-text-fill-color: #fff; }

p {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(#FF522C, #FF7E61);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

.accordion__content {
  padding: 0;
  height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out; }
  .accordion__content p {
    opacity: 0;
    transition: opacity 1s ease-out; }

.accordion__content:target {
  padding: 2.4rem;
  max-height: 99rem;
  flex-grow: 1; }

.accordion__content:target p {
  opacity: 1; }

.nav-link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%; }

.nav-link:hover {
  cursor: pointer; }

.accordion {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  flex-grow: 1; }
  .accordion__list {
    display: flex;
    flex-flow: column nowrap; }
    .accordion__list .accordion__content#about {
      background-color: purple; }

.accordion__list:first-child {
  flex-grow: 1; }

#work {
  display: block; }
  #work p {
    -webkit-text-fill-color: #fff; }
