.accordion {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    // flex-grow: 1;
    // background: $dark;

    &__list {
        display: flex;
        flex-flow: column nowrap;

        .accordion-link {
            // background-color: aqua;
            // overflow: hidden;
            // height: 6.4rem;
        }
    }
}