// Accordion

// Before state
.accordion__content {
    padding: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
    // opacity: 0;

    * {
        opacity: 0;
        transition: opacity 1s ease-out;
    }
}

// After state
.accordion__content:target {
    // padding: 2.4rem;
    max-height: 99rem;
    flex-grow: 1;
    // opacity: 1;
}

.accordion__content:target * {
    opacity: 1;
}

// Structure
// body (flex)
//  accordion (flex)
//      accordion__list (flex + flex grow)
//          nav-link
//          accordion__content (flex + flex grow)

