// --- Accordion ---

// Before state
.accordion__content {
    padding: 0;
    height: 0;
    max-height: 0;
    flex-grow: 1;
    overflow: hidden;
    // transition: max-height 1s ease-out;
    transition: all 1s ease-out;
    // transition: opacity 1s ease-out;

    * {
        opacity: 0;
        transition: opacity 1s ease-out;
    }
}

// After state
.accordion__content:target {
    // padding: 2.4rem;
    max-height: 99rem;
    // opacity: 1;
}

.accordion__content:target * {
    opacity: 1;
}

// Delaying #about img
.accordion__content:target .about__art-wrapper {
    transition: delay 3s;
    transition-property: opacity;
}


// --- Desktop Hover states ---

// -- Project links --

// Changing bg color
.project-link:link,
.project-link:visited {
    background: $light;
    transition: background .3s ease-out;
    border: .2rem dashed transparent;
}

.project-link p {
    background: linear-gradient($primary-dark, $primary-light);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.project-link:hover,
.project-link:focus,
.project-link:active {
    background: transparent;
    border: .2rem dashed $light;
}

.project-link:focus p,
.project-link:hover p {
    -webkit-text-fill-color: $light;
}

// --- Mobile Default + Press states ---

// -- Project links --




// Structure
// body (flex)
//  accordion (flex)
//      accordion__list (flex + flex grow)
//          nav-link
//          accordion__content (flex + flex grow)

// To-do
// Change desktop default n hover states: 
// Default: white fill
// Hover: outline stroke
// mobile default and press states for work
// project page

// ☑️ About page mobile responsive