*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: calc(calc(10/16*100) * 1%); //1rem = 10px

    @include respond(phone) {
        font-size: calc(calc(8/16*100) * 1%); //1rem = 8px
    }
}

body {
    background-color: $neutral-1;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100vh; 
}