@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Vina+Sans&display=swap');

a:link,
a:visited,
a:hover,
a:active {
    font-family: $display-font;
    text-decoration: none;
    font-size: 24px;
    background: linear-gradient($primary-dark, $primary-light);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: .4px;

    &.link--light {
        -webkit-text-fill-color: $light;
    }
}

p {
    font-family: $body-font;
    font-size: 16px;
    background: linear-gradient($primary-dark, $primary-light);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}