@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

a:link,
a:visited,
a:hover,
a:active {
    font-family: $display-font;
    text-decoration: none;
    font-size: 24px;
    color: $light;
}