// Showing "About" content as full height

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .about__text-wrapper {
        display: flex;
        padding: 0 3.2rem;
        align-items: stretch;

        & > * {
            flex: 1;
        }

        p:not(:last-child) {
            margin-right: 1.6rem;
        }
    }

    // Responsive text layout
    .about__text-wrapper {

        // Wide (1800+) + Desktop (max 180)
        @include respond(wide, desktop) {
            .about__text.mobile {
                display: none;
            }

            .about__text.desktop {
                display: block;
            }
        }
        
        // Tablet Landscape + Below
        @include respond(tabletLandscape) { // max-width 1200
            .about__text.mobile {
                display: block;
                // height: 50vh;
                margin: 0;
            }

            .about__text.desktop {
                display: none;
            }
        }
    }

    
    // Desktop + Mobile Img
    .about__art-wrapper {
        padding: 0 3.2rem 2.4rem;

    //     // Desktop
    //     @include respond(desktop) { //max-width 1800px
    //         .about__art.mobile {
    //             display: none;
    //         }

            .about__art.desktop {
                width: 100%;
                object-fit: contain;
                height: auto;
            }
        }

    //     // Mobile
    //     @include respond(mobile) { //max-width 600px
    //         .about__art.mobile {
    //             display: block;
    //             width: 100%;
    //             object-fit: contain;
    //             height: auto;
    //         }

    //         .about__art.desktop {
    //             display: none;
    //         }
    //     }
    // }


    // Mobile wrapper padding
    @include respond(mobile) {
        .about__text-wrapper {
            padding: 0 1.6rem;
        }
        .about__art-wrapper {
            padding: 0 1.6rem 1.6rem;
        }
    }
}